.tabbed_images {
			list-style:none;
			margin:0;
			padding:0;
			clear:both;
		}
		
		.tabbed_images li {
			list-style:none;
			float:left;
			margin:0;
			padding:0;
		}
		
		.tabbed_images li a {
			border:1px solid #ccc;
			display:block;
			float:left;
			margin:0 0px 0 0;
		}
		
		.tabbed_images li a.active,
		.tabbed_images li a:hover {
			border:1px solid #333;
		}
		
		.tabbed_images li a img {
			border:none;
			padding:0px;
			margin:0;
		}
		
		#image_1,
		#image_2,
		#image_3,
		#image_4,
		#image_5,
		#image_6
		#image_7
		#image_8
		#image_9 {
			margin-top:5px;
			padding:0px;
			border:0px solid #ccc;
		}
		