target
.classpath
.project
.settings
*.classpath*
.springBeans
org.eclipse.wst.common.component
.springWebflow
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml
**/org.eclipse.jdt.core.prefs
**/org.eclipse.wst.common.component
**/org.eclipse.wst.common.project.facet.core.xml
**/.classpath
**/.project
**/.settings
/modules/siyen-api/.settings/org.eclipse.jdt.core.prefs
/modules/siyen-core/.classpath
/modules/siyen-core/.project
/modules/siyen-core/.settings/org.eclipse.jdt.core.prefs
/modules/siyen-core/.settings/org.eclipse.wst.common.component
/modules/siyen-web/.project